body {
    background-color: #222222 !important;
    color: mintcream;
}
a {
    text-decoration:none;
    color:red;
}
h1{
    text-align: center;
}
.z-auto-pad{
    padding:0 1em 0 1em;
}
.z-muted {
    color:gray;
}
div.89{
    /* background: url("https://www.instagram.com/static/images/homepage/phones/home-phones.png/1dc085cdb87d.png"); */
    background: red;
}